.menu{
  font-size: larger;
  background-color: #E7EDF5;
  color: black;
}

.menu a{
  color: black;
}

.menu .active{
  text-decoration: underline;
}

.tete{
  background-image: url("/assets/images/fond4.jpg");
}
