.principal{
  background-image: url("/assets/images/fond3.jpg");
}

.pub1{
   background-image: url("/assets/images/pub5.png");
   width: 100%;
   border-radius: 0%;
}

.pub2{
   background-image: url("/assets/images/pub8.gif");
   width: 100%;
   border-radius:0%
}

.btn1{
  border-radius: 0%;
}
